In [1]:
import datetime
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.decomposition import PCA
from sklearn.metrics import classification_report
from sklearn.metrics import confusion_matrix  
from sklearn.metrics import accuracy_score

In [4]:
df = pd.read_csv('train.csv', sep=',').dropna()
df = df.sample(frac=0.01, random_state=99)

In [14]:
dg = pd.read_csv('train.csv', sep=',').dropna()

In [33]:
dd = dg.sample(frac=0.30, random_state=99)

In [38]:
Description = ['Timestamp','']
tmp1 = pd.DataFrame([df.columns.T])
tmp1

,0,1,2,3,4,5,6,7,8,9,...,14,15,16,17,18,19,20,21,22,23
0,date_time,site_name,posa_continent,user_location_country,user_location_region,user_location_city,orig_destination_distance,user_id,is_mobile,is_package,...,srch_children_cnt,srch_rm_cnt,srch_destination_id,srch_destination_type_id,is_booking,cnt,hotel_continent,hotel_country,hotel_market,hotel_cluster