In [1]:
import datetime
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.decomposition import PCA
from sklearn.metrics import classification_report
from sklearn.metrics import confusion_matrix  
from sklearn.metrics import accuracy_score

In [4]:
df = pd.read_csv('train.csv', sep=',').dropna()
df = df.sample(frac=0.01, random_state=99)

In [14]:
dg = pd.read_csv('train.csv', sep=',').dropna()

In [15]:
dg

,date_time,site_name,posa_continent,user_location_country,user_location_region,user_location_city,orig_destination_distance,user_id,is_mobile,is_package,...,srch_children_cnt,srch_rm_cnt,srch_destination_id,srch_destination_type_id,is_booking,cnt,hotel_continent,hotel_country,hotel_market,hotel_cluster
0,2014-08-11 07:46:59,2,3,66,348,48862,2234.2641,12,0,1,...,0,1,8250,1,0,3,2,50,628,1
1,2014-08-11 08:22:12,2,3,66,348,48862,2234.2641,12,0,1,...,0,1,8250,1,1,1,2,50,628,1
2,2014-08-11 08:24:33,2,3,66,348,48862,2234.2641,12,0,0,...,0,1,8250,1,0,1,2,50,628,1
3,2014-08-09 18:05:16,2,3,66,442,35390,913.1932,93,0,0,...,0,1,14984,1,0,1,2,50,1457,80
4,2014-08-09 18:08:18,2,3,66,442,35390,913.6259,93,0,0,...,0,1,14984,1,0,1,2,50,1457,21
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
37670288,2014-09-02 08:08:28,2,3,66,174,26232,2348.4075,1198182,0,1,...,0,1,8855,1,0,1,2,50,213,26
37670289,2014-09-08 14:52:52,2,3,66,174,26232,679.6104,1198182,0,0,...,0,1,8281,1,0,1,2,50,663,9
37670290,2014-09-15 06:56:51,2,3,66,174,26232,668.1768,1198182,0,0,...,0,1,5620,3,0,1,2,50,663,94
37670291,2014-09-18 08:49:33,2,3,66,462,12565,106.4274,1198182,0,0,...,0,1,18811,1,0,1,2,50,592,42
37670292,2014-09-18 08:52:42,2,3,66,462,12565,106.4274,1198182,0,0,...,0,1,18811,1,1,1,2,50,592,42